<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-python-template.ZPM">
    <Module>
      <Name>iris-python-template</Name>
      <Version>3.0.13</Version>
      <Description>The simplest template to run embedded python</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="careia.PKG"/>
      <FileCopy Name="python/" Target="${libdir}python/"/>
      <FileCopy Name="data/" Target="${libdir}data/${packagename}/"/>
      <CSPApplication 
        Url="/careia"
        Recurse="1"
        MatchRoles=":${dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        DispatchClass="careia.rest.disp"
        ServeFiles="1"
        CookiePath="/careia/"
        UseCookies="2"
      />
      <Dependencies>
        <ModuleReference>
          <Name>ipc-utils</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
    </Module>
  </Document>
</Export>
